In [2]:
import csv
import pandas as pd

ff = pd.read_csv('ForestFireDataset.csv')
ff

                Area  Oxygen  Temperature  Humidity  Fire Occurrence
0      Test Forest 1      40           45        20                1
1      Test Forest 2      50           30        10                1
2      Test Forest 3      10           20        70                0
3      Test Forest 4      60           45        70                1
4      Test Forest 5      30           48        10                1
..               ...     ...          ...       ...              ...
229  Test Forest 230      30           51         2                1
230  Test Forest 231      60           60        10                1
231  Test Forest 232      10           10        60                0
232  Test Forest 233       0           30         0                0
233  Test Forest 234      45           45        15                1

[234 rows x 5 columns]

In [6]:
import csv
import pandas as pd

ff = pd.read_csv('ForestFireDataset.csv')
x= ff.drop(columns=['Humidity'])
x

                Area  Oxygen  Temperature  Humidity  Fire Occurrence
0      Test Forest 1      40           45        20                1
1      Test Forest 2      50           30        10                1
2      Test Forest 3      10           20        70                0
3      Test Forest 4      60           45        70                1
4      Test Forest 5      30           48        10                1
..               ...     ...          ...       ...              ...
229  Test Forest 230      30           51         2                1
230  Test Forest 231      60           60        10                1
231  Test Forest 232      10           10        60                0
232  Test Forest 233       0           30         0                0
233  Test Forest 234      45           45        15                1

[234 rows x 5 columns]

In [54]:
import csv
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

ff = pd.read_csv('ForestFireDataset.csv')
new_ff = ff.drop(columns=['Area'])
X = new_ff.drop(columns=['Fire_Occurrence'])
Y = new_ff['Fire_Occurrence']

model = DecisionTreeClassifier()
model.fit(X,Y)
pre = model.predict([ [20,25,5],[25,60,70],[30,20,5] ])
pre

C:\Users\Parth Bhargava\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0, 1, 0], dtype=int64)

In [159]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

ff = pd.read_csv('ForestFireDataset.csv')
new_ff = ff.drop(columns=['Area'])
X = new_ff.drop(columns=['Fire_Occurrence'])
Y = new_ff['Fire_Occurrence']
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(x_train,y_train)
pre = model.predict(x_test)

score = accuracy_score(y_test, pre)
score

1.0